.topnav {
  /* background-color: #4a4b89; */
  /* background-color: #252160; */
  /* background-color: #272264; */
  background-color: #2C2C54;
  /* background-color: #03045e; */
  height: 100;
  padding: 10px;
  margin-top: -10px;
  padding-right: 0;
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
  font-style: Georgia;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  position: fixed;
}
.tgswitch {
  color: rgb(230, 223, 223);
  width: 50;
  height: 50;
  padding: 15px;
} 

.sidenav {
  color: rgb(110, 101, 101);
  width: 150;
}
.header{
align-items: center;
width: 100%;
}
.sidebar{
  background-color:#ede2ff ;
}
.SideNav{
  background-color: aliceblue;
  
}
.nav-link:hover {
  color: rgb(234, 234, 234); 
  text-decoration: none;
  
}
link:hover{
background-color: #1f1d21;
}

/* Define active styles */
.nav-link.active {
  font-weight: bold;
   /* Example: Make font bold for active item */
}
.sidebar{
  position:absolute;
}
.tong{
  color: black;
}
.Toggle{
  color: black;
}

.icon1{
  font-weight: 900;
}