.add{
    margin-left: 16%;
    margin-top: 6%;
    width:72vw;
    height: 94vh;

}
.next{
    float: right
}
.submit{
    float:right
}
.add-empoloyee{
    text-align: center;
    background-color: #0d6efd;
    color: azure;
}