.add{
    margin-left: 16%;
    margin-top: 6%;
    width:72vw;
    height: 94vh;
overflow: hidden;
}
.next{
    float: right
}
.submit{
    float:right
}
.add-empoloyee{
    text-align: center;
    background-color: #474787;
    color:#ECECEC ;
    height: 45px;
    border-radius: 15px;
}