.add{
    width:80vw;
    height: 94vh;
/* overflow: hidden; */  
}
.next{
    float: right
}
.submit{
    float:right
}
.add-empoloyee{
    text-align: center;
    background-color: #474787;
    color:#ECECEC ;
    height: 45px;
    border-radius: 15px;
}
.ismanager{
    margin-top: 8%;
    font-weight: 400;
   margin-right: 4%;
}