.salary-slip {
    width: 100%;
   
    padding: 20px;
    border: 1px solid #ccc;
    margin-left: 9%;
    overflow-x: hidden;
    margin-top: 6%;
  }
  
  .empDetail {
    width: 100%;
    border-collapse: collapse;
  }
  
  .empDetail th, .empDetail td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .myBackground {
    background-color: #f2f2f2;
  }

  .table-border-bottom {
    border-bottom: 1px solid #ccc;
  }
  
  .companyName {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family:Calibri(bold);
  }

  .globus{
   text-align: center;
    justify-items: center;
    margin-left: 35%;
  }

  .company{
    font-size: 18px;
    text-align: center;
    font-family: Cambria;
  }

  .employeename{
    font-family: Cambria;
  }

  