.salary-slip {
    width: 100%;
   
    padding: 20px;
    border: 1px solid #ccc;

    overflow-x: hidden;
    margin-top: 6%;
  }
  
  .empDetail {
    width: 100%;
    border-collapse: collapse;
  }
  
  .empDetail th, .empDetail td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .myBackground {
    background-color: #f2f2f2;
  }

  .table-border-bottom {
    border-bottom: 1px solid #ccc;
  }
  
  .companyName {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family:Calibri(bold);
  }

  .globus{
   text-align: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    justify-self: center; 
    margin-left: 15%;

  }

  .company{
    font-size: 18px;
    text-align: center;
    font-family: Cambria;
  }

  .employeename{
    font-family: Cambria;
  }
  .App {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 5%;
    overflow: hidden;
  
    margin-left: 11%;
  }
  
  select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .popup {

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .popup-inner {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .popup-inner h2 {
    margin: 0;
  }
  
  .popup-inner button {
    margin-top: 20px;
    padding: 10px 20px;
  }
  .pay1{
    margin-left: 13%;
    margin-top: 6%;
  }
  .pay2{
    margin-top: 10%;
    height: 70%;
    width: 900px;
  }
  .pay1{
    position: fixed;
  };