.account-1{
    margin-left: 8%;
}

.admin-1{
margin-left: 8%;
}

.electrical-1{
    margin-left: 8%;
}

.hr-1{
    margin-left: 8%;
}

.infra-1{
    margin-left: 8%;
}

.it-1{
    margin-left: 8%;
}

.scanning-1{
    margin-left: 8%;
}

.telecom-1{
    margin-left: 8%;
}