.account-1{
    margin-left: 8%;
    margin-top:4%;
}

.admin-1{
margin-left: 8%;
margin-top:4%;
}

.electrical-1{
    margin-left: 8%;
    margin-top:4%;
}

.hr-1{
    margin-left: 8%;
    margin-top:4%;
}

.infra-1{
    margin-left: 8%;
    margin-top:4%;
}

.it-1{
    margin-left: 8%;
    margin-top:4%;
}

.scanning-1{
    margin-left: 8%;
    margin-top: 4%;

}

.telecom-1{
    margin-left: 8%;
    margin-top:4%;
}

.table thead th {
    /* background-color:#5c52b6; */
    /* background-color: #957df6; */
    background-color: #7063bd;
    /* background-color: #615f8e; */
    /* background-color: #8676b3; */
    color: azure; /* Optional: Change the text color */
}